# Environment Variables

# Google Analytics Tracking ID
NEXT_PUBLIC_GTAG_ID=your-google-analytics-id # Google Analytics Tracking ID for monitoring website traffic

# Resume Link
NEXT_PUBLIC_RESUME_LINK=your-resume-link # Link to the resume to be displayed on the portfolio website

# Public Site URL
NEXT_PUBLIC_SITE_URL=https://shivanshu.site # Canonical URL for the portfolio used in SEO metadata
