# Environment Variables

# Timezone
TZ=UTC # Sets the timezone for the application

# Node Environment
NODE_ENV=development # Specifies the environment in which the application is running (development, production, etc.)

# Autoprefixer Grid
AUTOPREFIXER_GRID=autoplace # Configures Autoprefixer to use the autoplace grid layout

# Google Analytics Tracking ID
NEXT_PUBLIC_GTAG_ID=your-google-analytics-id # Google Analytics Tracking ID for monitoring website traffic

# GitHub Token
NEXT_PUBLIC_GITHUB_TOKEN=your-github-token # GitHub token for accessing GitHub API

# Vercel Token
NEXT_PUBLIC_VERCEL_TOKEN=your-vercel-token # Vercel token for deploying and managing projects on Vercel

# Resume Link
NEXT_PUBLIC_RESUME_LINK=your-resume-link # Link to the resume to be displayed on the portfolio website